/*
PALETA DE COLORES (MAS OSCURO A MAS CLARO)
=================
INDIGO -> #4b0081
INDIGO PURPLE -> #650099
SHADE OF VIOLET -> #7f00b2
MAGENTA AFFAIR -> #ab3ed8
MEDIUMORCHID1 -> #d86aff
*/

body {
    background: linear-gradient(#7f00b2, #d86aff) ;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
        color: white;
}

header h1 {
    font-size: 5rem;
}

header h2 {
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

main article h3 {
    font-size: 2rem;
}

main article h4 {
    font-size: 1.75rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contenedor-tarjetas {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tarjeta{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #4b0081, #ab3ed8);
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.certificados {
    display: flex;
    flex-direction: row;
}

.contenedor-tarjetas-platzi {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 5px;
    padding: 20px;
}


.tarjeta-platzi{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #4b0081, #ab3ed8);
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tarjeta-platzi a {
    text-decoration: none;
    color: inherit;
}