:root {
    --morado: #540863;
    --lavanda: #92487A;
    --rosa: #E49BA6;
    --rosa-claro: #FFD3D5;
    --purpura: #5D3587;
    --lila: #A367B1;
    --morado-claro: #EBD3F8;
    --amarillo: yellow;
}

h1, h2, h3, h4, h5 {
    font-family: "Story Script", sans-serif;
    color: var(--amarillo);
}

body {
    background: linear-gradient(to bottom right, var(--morado), var(--lila), var(--morado-claro));
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    color: var(--morado);
    margin: 0;
}

header h2 {
    font-size: 3rem;
}

main article h2 {
    font-size: 3rem;
    margin-bottom: 0px;
}

main article h3 {
    font-size: 2rem;
}

main article h4 {
    font-size: 1.75rem;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
        color: black;
}

.banner{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--amarillo);
  padding: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.banner h2 {
    color: var(--morado);
    margin: 0;
}

.banner-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 20px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

article p {
    color: white;
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
}

.iconos-contacto{
    height: 33px;
    width: 33px;
}

.contenedor-tarjetas {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tarjeta {
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    padding: 10px 10px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.premios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.margenes-premios{
    margin-bottom: 0px;
}

.contenedor-tarjetas-premios {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tarjeta-premios h4 {
    font-size: 1.25rem;
}

.tarjeta-premios{
    width: 90%;
    text-align: left;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    color: white;
    padding: 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta-premios a {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 5px;
    text-decoration: none;
    color: var(--rosa);
}

.tarjeta-premios h4 {
    color: var(--amarillo);
}

.tarjeta-premios h5 {
    font-size: 1rem;
    color: var(--amarillo);
}

.tarjeta-premios:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.certificados {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#tituloPlatzi {
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    width: 70%;
    background: var(--morado-claro);
    color: black;
    box-shadow: 4px 4px var(--amarillo);
    margin-right: 20px;
    transition: transform 0.3s ease;
}

#tituloPlatzi:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

#tituloUdemy {
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    width: 70%;
    background: var(--morado-claro);
    color: black;
    box-shadow: 4px 4px var(--amarillo);
    margin-right: 20px;
    transition: transform 0.3s ease;
}

#tituloUdemy:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

#tituloIBM {
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    width: 70%;
    background: var(--morado-claro);
    color: black;
    box-shadow: 4px 4px var(--amarillo);
    transition: transform 0.3s ease;
}

#tituloIBM:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.contenedor-global-platzi{
    display: flex;
    flex-direction: column;
    
}

.contenedor-global-udemy{
    display: flex;
    flex-direction: column;
    
}

.contenedor-global-ibm{
    display: flex;
    flex-direction: column;
    
}

.contenedor-tarjetas-platzi {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    background: var(--morado-claro);
}

.contenedor-tarjetas-udemy {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    background: var(--morado-claro);
}

.contenedor-tarjetas-ibm {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid var(--morado);
    background: var(--morado-claro);
}

.oculto{
    display: none;
}

#tituloPlatzi {
    display: flex;
    flex-direction: column;
}

.tarjeta-platzi{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    color: white;
    padding: 10px 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta-platzi:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.tarjeta-platzi a {
    text-decoration: none;
    color: inherit;
}

.tarjeta-udemy{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    color: white;
    padding: 10px 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta-udemy:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.tarjeta-udemy a {
    text-decoration: none;
    color: inherit;
}

.tarjeta-ibm{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    color: white;
    padding: 10px 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta-ibm:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}

.tarjeta-ibm a {
    text-decoration: none;
    color: inherit;
}

.contenedor-tarjetas-webs {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tarjeta-webs{
    width: 90%;
    text-align: left;
    justify-content: center;
    background: linear-gradient(to bottom right, var(--morado), var(--lila));
    color: white;
    padding: 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px white;
    transition: transform 0.3s ease;
}

.tarjeta-webs a {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 5px;
    text-decoration: none;
    color: var(--rosa);
}

.tarjeta-webs h4 {
    font-size: 1.25rem;
}

.tarjeta-webs h5 {
    font-size: 1rem;
}

.tarjeta-webs:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px black;
}